.btn-warning {
    margin-top: 20px;
    height: 40px;
    margin-left: -70px;
}
.bi-list {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
.text1 {
    color: white;
    margin-top: -34px;
    margin-left: 60px;
}
.navbar {
    padding-top: 0px;
   padding-left: 0px;
   margin-top: -50px;
   margin-left: 110px;
   width: 750px;
}
.carousel {
    margin-top: 10px;
    margin-left: -80px;
}
.text4 {
    color: #ffc14d
}
.conjuring {
    width: 120px;
}
.bi-play-circle {
    color: white;
    margin-top: -110px;
    margin-left: -9px;
}
.text5 {
    color: rgba(255, 255, 255, 0.677);
    margin-top: -140px;
    margin-left: 150px;
}
.text6 {
    color: white;
    margin-left: 120px;
}
.text7 {
    color: rgba(255, 255, 255, 0.726);
    margin-left: 120px;
    margin-top: -10px;
}
.puss {
    width: 100px;
    margin-top: 50px;
}
.bi2 {
    color: white;
    margin-top: -40px;
    margin-left: 5px;
}
.text8 {
    color: rgba(255, 255, 255, 0.677);
    margin-top: -130px;
    margin-left: 150px;
}
.text9 {
    color: white;
    margin-top: 80px;
}
.bi-chevron-right {
    color: white;
}
.text10 {
    color: white;
    margin-top: -30px;
    margin-left: 760px;
    font-weight: bold;
}
.text11 {
    color: rgb(120, 206, 255);
    margin-top: -30px;
    margin-left: 802px;
    font-weight: bold;
}
.satu {
    background-color: #fbfbfb3e;
    color: #fbfbfb12;
    margin-top: -40px;
    margin-left: 850px;
    height: 30px;
}
.text12 {
    color: #f6ca46;
    font-weight: 500;
    margin-top: 30px;
    margin-left: -80px;
}
.bi-bookmark-plus-fill {
    color: white;
    margin-left: 220px;
    margin-top: -1250px;
}
.text13 {
    color: white;
    margin-left: 250px;
    margin-top: -645px;
}
.text14 {
    color: white;
    margin-left: 340px;
    margin-top: -40px;
}
.text15 {
    color: white;
    margin-left: 375px;
    margin-top: -40px;
}
.text16 {
    color: white;
    margin-left: 410px;
    margin-top: -40px;
}
.carousel2 {
    width: 400px;
    height: 500px;
}
.carousel3 {
    width: 400px;
    height: 500px;
    margin-left: -220px;
}
.kuning {
    color: #f6ca46;
}
